.section {
  position: relative;
  height: 120vh; /* Default height for mobile */
  top: -10rem;
  bottom: 0;
}

.backdrop {
  z-index: 1;
  position: absolute;
  top: 2rem;
  bottom: 0;
  height: 30vh;
  width: 100%;
  background: linear-gradient(#031c67, transparent);
}

.container {
  overflow: hidden;
}

.image {
  object-fit: cover;
  object-position: top;
  z-index: 0;
}

.content {
  position: absolute;
  flex-direction: column;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  gap: 1rem;
  align-items: center;
}

.title,
.title2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: var(--font-modernist);
  line-height: 0.75;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
  width: 18rem;
  padding: 8px 16px;
  margin: 1rem 0;
  border-radius: 100px;
  color: rgb(197, 192, 192);
  background-color: #11339a;
  transition: all 0.3s ease;
}

.link:hover {
  background-color: #082e8a;
  transform: scale(1.05);
  color: white;
}

@media (min-width: 768px) {
  .section {
    height: 120vh;
  }

  .content {
    top: 28rem;
    left: 55%;
    transform: none;
    gap: 0rem;
  }

  .title,
  .title2 {
    font-size: 9rem;
  }

  .link {
    font-size: 1.8rem;
    width: 22rem;
    margin: 100px 0;
    padding: 8px 5px 15px;
  }
}
